/* Universal Styling */
* {
    margin: 0;
    padding 0;
}

body {
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

.mobile {
    display: none;
}
@media screen and (max-width: 500px) {
    .desktop {
        display: none;
    }
}
/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.3125rem;
    color: #4A4A4A;
    line-height: 1.6;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
}

.name {
    font-family: 'Rubik', sans-serif;
    margin-left: 1.875rem;
    flex-grow: 1;   
}

nav ul {
    display: flex;
    align-items: center;
    margin-right: 1.875rem;
}

nav li  {
    padding-left: 3.2rem;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

nav li:hover {
    text-decoration: underline;
}

header img {
    height: 1rem;
    margin-right: 1.875rem;
    margin-left: -1.25rem;
    margin-bottom: -0.15rem;
}
@media screen and (max-width: 500px) {
    .mobile {
        display: flex;
        height: 3rem;
    }

    nav {
        width: 100%;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav li {
        padding: 0rem 1rem;
    }

    .mobile li:last-child {
        background-color: #9DC20B;
        padding: 0.1875rem 0.5rem;
        border-radius: 0.25rem;
        margin: 0;
        text-decoration: none;
    }

    .mobile li:last-child:hover {   
        background-color: rgb(213, 255, 23)
    }

    header img {
        margin: 0;
        flex-grow: 1;
    }
}
/* Jumbotron Section */
.jumbotron {
    background-image: url('../images/banner-landingpage.jpg');
    height: 45rem;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    padding-top: 5.3125rem;
}

.banner {
    background-color: #9DC20A;
    border: 1px solid #979797;
    border-radius: .25rem;
    opacity: 0.95;
}

.banner-content {
    padding: 2rem 5rem 3.125rem 5rem;
    text-align: center;
    line-height: 1.4;
    color: white;
}

.banner-content h3 {
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 1.5rem;
}

.banner-content h1 {
    text-transform: uppercase;
    margin-bottom: 0.75rem;
    font-family: 'Rubik', sans-serif;
    font-size: 3.125rem;
}

.banner-content p {
    font-family: 'Roboto', sans-serif;
}

.banner-content span {
    font-weight: 500;
}

.join {
    font-size: 1.25rem;
    font-weight: 500;
    width: 100%;
    height: 4rem;
    background-color: #4A4A4A;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.625rem;
}

.join:hover {
    background-color: gray;
}
@media screen and (max-width: 500px) {
    .jumbotron {
        height: 24rem;
        background-position: 75% 10%;
        background-attachment: scroll;
    }

    .banner {
        background-color: transparent;
        border: none;   
    }

    .banner-content {
        color: white;
    }

    .banner-content h1 {
        font-size: 2.5rem;
    }

    .banner-content p {
        display: none;
    }
}
/* Feature Section */
.feature {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(234, 234, 234);
    position: relative;
    z-index: 2;
}

.windows {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 3.5rem 1.1875rem 2.875rem 1.1875rem;
    transition: all 2s ease;
}

.windows:hover {
    background-color: #9DC20A;
}

.window {
    margin: 2rem 2rem 0rem 2rem;
    text-align: center;
    color: #4A4A4A;
}

.window-content {
    height: 11.6875rem;
}

.window img {
    height: auto;
    max-width: 100%;
    margin-bottom: 2.5rem;
    transition: all 0.5s ease;
}

.window img:hover {
    transform: scale(1.05);
}

.window h3 {
    font-size: 2.25rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.2;
}

.window p {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 1rem; 
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    .window-content {
        height: 15rem;
    }
}
@media screen and (max-width: 500px) {
    .feature {
        display: flex;
        flex-direction: column;
    }

    .windows {
        background-color: transparent;
        flex-direction: column;
        margin: 0;  
    }

    .window {
        margin: 1rem 0rem;
    }

    .window-content {
        height: 10rem;
        line-height: 1.3;      
    }

    .window img:hover {
        transform: scale(1.0);
    }
}
/* Filter Section */
.filters {
    background-color: rgb(74, 74, 74);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.filters-content {
    text-align: center;
    margin: 4rem 0rem;
    color: white;
    opacity: 100%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

.filters-content h3 {
    font-size: 2.25rem;
    font-weight: 500;
}

.filters-content p {
    font-size: 1rem;
    font-weight: 300;
}

.filter-images {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.filter-images img {
    width: 24.5%;
    height: 40%;
    transition: all 1s ease;
}

.filter-images img:hover {
    transform: scale(1.05);
}
@media screen and (max-width: 500px) {
    .filters-content {
        margin: 2rem 0rem;
    }

    .filters-content h3 {
        font-size: 1.5rem;
    }

    .filters-content p {
        margin-top: 0.5rem;
    }

    .filter-images {
        margin-top: 1rem;
        flex-wrap: wrap;
    }

    .filter-images img {
        width: 49%;
    }

    .filter-images img:hover {
        transform: scale(1.0);
    }
}
/* Quote Section */
.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(234, 234, 234);
    color: #4A4A4A;
    line-height: 1.1;
    position: relative;
    z-index: 2;
}

.quote h3 {
    margin: 5rem 0rem 5rem 2rem;
    font-size: 1.875rem;
    font-family: 'Merriweather', serif;
    font-style: italic;
}

.quote img {
    margin-left: 1.875rem;
    margin-right: 2rem;
}
@media screen and (max-width: 500px) {
    .quote {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .quote h3 {
        font-size: 1.5rem;
        line-height: 1.4;
        margin: 2rem 1rem 1rem 1rem;
    }

    .quote img {
        margin: 0rem 0rem 1rem 0rem;
    }
}
/* Footer Section */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.875rem;
    color: white;
    font-size: 0.75rem;
    font-family: 'Roboto', sans-serif;
    background-color: #9B9B9B;
    position: relative;
    z-index: 2;
}

footer p {
    margin: 0rem 2rem;
}